/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
/* 300 - 400 - 600 */

/* Variables */
:root {
  --bg-body: #f2f5f5;
  --main-gray-p: #868686;
  --popular-orange: #ff8005;
  --deliveroo-green: #01ccbc;
  --disabled-grey: #e2e5e5;

  --white: #ffffff;
}

/* Global rules */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--bg-body);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.wrapper {
  margin: 0 auto;
  width: 80vw;
}
h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 40px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
p {
  color: var(--main-gray-p);
}
.icon-star {
  font-size: 17px;
  color: var(--popular-orange);
  margin-left: 20px;
}

/* Spinner */
.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  font-size: 30px;
  color: var(--deliveroo-green);
  margin: auto;
}

/* Header */
header {
  background-color: var(--white);
  padding: 10px;
  border-bottom: 1px solid var(--bg-body);
}
header img {
  width: 150px;
}

/* Description */
.description {
  background-color: var(--white);
  padding: 30px 0;
  margin-bottom: 20px;
}
.description > div:first-child {
  display: flex;
  align-items: center;
}
.description p {
  font-size: 19px;
}
.description img {
  width: 350px;
  margin-left: 30px;
  border-radius: 5px;
}

/* Basket */
.basket {
  background-color: var(--white);
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}
.basket > div {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding: 8px;
}
.basket p {
  color: black;
}

.basket button {
  margin-bottom: 30px;
  cursor: pointer;
}
.btn-minus,
.btn-plus {
  color: var(--deliveroo-green);
  background-color: var(--white);
  border: 2px solid var(--deliveroo-green);
  border-radius: 50%;
  font-weight: 700;
}
span.counter-quantity {
  margin-right: 10;
}
.validation {
  background-color: var(--deliveroo-green);
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  margin: 0 auto;
  width: 90%;
  height: 50px;
  border-radius: 5px;
}
.btn-disabled {
  background-color: var(--disabled-grey);
  color: var(--main-gray-p);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: none;
  margin: 0 auto;
  width: 90%;
  height: 50px;
  border-radius: 5px;
}
.basket-count {
  width: 100%;
  display: flex;
}
.counter {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.basket-title {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.basket-title p {
  max-width: 70%;
  margin-left: 5px;
}
.sub-tot-1 {
  border-top: 1px solid var(--main-gray-p);
}
.sub-tot-2 {
  border-bottom: 1px solid var(--main-gray-p);
}
p.empty-basket {
  text-align: center;
  color: var(--main-gray-p);
  font-weight: 500;
  font-size: 14px;
}

/* Categories */
.categories {
  position: relative;
}
.bloc {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}
.bloc > div:nth-child(2n) {
  margin-left: 20px;
}
.bloc-meal {
  background-color: var(--white);
  margin-bottom: 20px;
  border-radius: 5px;
  width: calc(100% / 2 - 10px);
  height: 162px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.bloc-meal p {
  font-size: 14px;
  color: var(--main-gray-p);
  margin-bottom: 10px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}
.bloc-detail span {
  font-size: 17px;
  color: var(--main-gray-p);
}
.bloc-detail > div {
  display: flex;
  align-items: center;
}
.bloc-detail .star {
  font-size: 12px;
  color: var(--popular-orange);
  font-weight: 600;
  margin-left: 10px;
}

.bloc-meal img {
  width: 132px;
  height: 132px;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 10px;
}

/* Media queries */
@media (max-width: 1326px) {
  /* Categories */
  .bloc {
    width: 60%;
  }
  .bloc > div:nth-child(2n) {
    margin-left: 0;
  }
  .bloc-meal {
    width: 100%;
  }
}

@media (max-width: 1143px) {
  /* Categories */
  .bloc {
    width: 55%;
  }
}

@media (max-width: 1024px) {
  /* Categories */
  .bloc {
    width: 50%;
  }
}

@media (max-width: 912px) {
  /* Basket */
  .basket {
    width: 300px;
  }
}

@media (max-width: 845px) {
  /* Global rules */
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  /* Description */
  .description {
    padding: 0 0 30px 0;
  }
  .description > div:first-child {
    flex-direction: column-reverse;
  }
  .description p {
    font-size: 15px;
  }
  .description img {
    width: 100vw;
    height: 200px;
    object-fit: cover;
    margin-left: 0;
    margin-bottom: 30px;
  }

  /* Basket */
  .basket {
    display: none;
  }

  /* Categories */
  .bloc {
    width: 100%;
  }
}
